<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Rango</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <script src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>
    <h1>Rango says...</h1>
    <div>hey there partner!</div>
    <div class="row marketing">
			<div class="col-lg-6">
			<h2>Top Five Categories</h2>
				<p>
		         	{% if categories %}
		             <ul class="list-group">
		                 {% for category in categories %}
		                 	<li class="list-group-item"><a href="{% url 'show_category' category.slug %}">{{ category.name }}</a> <span class="badge badge-pill badge-primary">{{category.likes}}</span></li>
		                 {% endfor %}
		             </ul>
		        {% else %}
		             <strong>There are no categories present.</strong>
		        {% endif %}
          </p>
        </div>

<!-- display to five pages -->
        <div class="span6">
      <h2>Top Five Pages</h2>
      {% if pages %}
        <ul>
          {% for page in pages %}
            <li><a href="{{ page.url }}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} views(s) </li>
          {% endfor %}
        </ul>
      {% else %}
        <strong> No pages at present.</strong>
      {% endif %}
    </div>
		</div>

    <!--
      <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong><br />
      </div> -->
      <div>
        <a href="/rango/about/">About</a><br />
        <a href="/rango/add_category/">Add a New Category</a><br />
        <img src="{% static "images/rango.jpg" %}" alt="Picture of Rango" />
      </div>
  </body>
</html>
